<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">OUR STORY!</h2>
                <hr class="light">
                <p class="text-faded">
                SAAR (Solid As A Rock) is a total home care provider, founded and run, by a Christian family on Christian principles, and based on 30 years experience. Our Services are performed with the special considerations and detail that result in a satisfied customer, who consistently refer friends and family.<br><br>
                We have always worked on personal referrals. Paying attention to the little details and not cutting corners will continue to be our standard in providing the proper services to all our customers.<br><br>
                We prefer to do the maximum for every customer, every time, and staying focused on their project is the reason to our success. Regardless of how busy we may be, we never have more then one customer, the one we are working on NOW.<br><br>
                By Having SAAR provide the services you need for your project, you will experience the right job, done the right way, the first time.    
                
                </p>
                <a href="#contact" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
