<header>
    <div class="header-content">
        <div class="header-content-inner">
    
            <p><img src="img/saar.gif" style="opacity=0.5" 
                    width="200" height="auto" alt="SAAR Services" /></p>
            <h2>A Family business serving the DFW Metroplex for over 30 years.</h2>
            <hr>
            <p>We provide honesty, integrity and quality with every job!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
