<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                
                    <img src="img/1.jpg" class="img-responsive" alt="">
              
            </div>
            <div class="col-lg-4 col-sm-6">
               
                    <img src="img/2.jpg" class="img-responsive" alt="">
            
            </div>
            <div class="col-lg-4 col-sm-6">
                
                    <img src="img/3.jpg" class="img-responsive" alt="">
                    
          
            </div>
            <div class="col-lg-4 col-sm-6">
               
                    <img src="img/4.jpg" class="img-responsive" alt="">
               
            </div>
            <div class="col-lg-4 col-sm-6">
                
                    <img src="img/5.jpg" class="img-responsive" alt="">
                    
               
            </div>
            <div class="col-lg-4 col-sm-6">
                
                    <img src="img/6.jpg" class="img-responsive" alt="">
                 </div>
            <div class="col-lg-4 col-sm-6">
                
                    <img src="img/7.jpg" class="img-responsive" alt="">
                    
                 </div>
            <div class="col-lg-4 col-sm-6">
                
                    <img src="img/8.jpg" class="img-responsive" alt="">
                 </div>
            <div class="col-lg-4 col-sm-6">
                
                    <img src="img/9.jpg" class="img-responsive" alt="">
                 </div>
            <div class="col-lg-4 col-sm-6">
                
                    <img src="img/10.jpeg" class="img-responsive" alt="">
                 </div>
            <div class="col-lg-4 col-sm-6">
                
                    <img src="img/11.jpeg" class="img-responsive" alt="">
                 </div>
            <div class="col-lg-4 col-sm-6">
                
                    <img src="img/12.jpeg" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
